#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
    /*background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s, border-color 0.3s;*/
}

.pattern {
    background: #f7f7f7;
    border-bottom: 1px solid #808080;
    margin-bottom: 1em;
    overflow: hidden;
}

.drop-active {
    border-color: #666;
}

.drop-target {
    background-color: yellowgreen;
}

.apple {
    background: url('GameParts/TAG_Apple.png')
}

.bird {
    background: url('GameParts/TAG_Bird.png')
}

.car {
    background: url('GameParts/TAG_Car.png')
}

.cat {
    background: url('GameParts/TAG_Cat.png')
}

.person {
    background: url('GameParts/TAG_Person.png')
}

.sun {
    background: url('GameParts/TAG_Sun.png')
}

.drag-drop {
    background-repeat: no-repeat;
    background-size: 80px Auto;
    min-width: 70px;
    display: inline-block;
    padding: 27px 13px;
    /*-webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);*/

    transition: background-color 0.3s;
}

.drag-drop.can-drop { border: 1px solid white; }

.tag-drop-one {
    position: absolute;
    left: 15px;
    top: 15px;
}
.tag-drop-two {
    position: absolute;
    right: 15px;
    top: 15px;
}
.tag-drop-three {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.tag-drop-four {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
body {
    margin: 0;
    padding: 0;
    background: #EEE;
    font: 10px/13px 'Lucida Sans',sans-serif;
}
.wrap {
    overflow: hidden;
}
.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 1%;
}
.boxInner {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px !important;
    overflow: hidden;
}
.boxInner img {
    width: 100%;
}
.boxInner .titleBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
    /* Smartphone view: 2 tile */
    .box {
        width: 50%;
        padding-bottom: 47%;
    }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 48%;
    }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 33.3%;
        padding-bottom: 31.3%;
    }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .box {
        width: 25%;
        padding-bottom: 23%;
    }
}

body {
    position:absolute;
}

html, body {
    top:0; left:0; right:0;
    min-height:100%;
    margin:0;
    padding:0;
    width:100%;
}

#header_container {
    position:fixed;
    top:0; left:0; right:0;
    text-align:center;
    margin:0;
    height:3em;
    z-index:3;
}

#header {
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    height:44px;
    background: url('GameParts/MENU.png') no-repeat;
    z-index:3;
    margin:0;
    padding:0.2em;
    font-size: 12px;
    color: white;
    font-style: bold;
}

#content {
    margin:0;
    padding-top:4em;
    padding-bottom:3em;
    z-index:2;
}

#footer_container {
    position:fixed;
    bottom:0; left:0; right:0;
    text-align:center;
    margin:0;
    height:12em;
    z-index:3;

}

#footer {
    position:absolute;
    background: url('GameParts/MENU.png') no-repeat;
    top:0; left:0; right:0; bottom:0;
    z-index:3;
}