#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
}

.pattern {
    background: #f7f7f7;
    border-bottom: 1px solid #808080;
    margin-bottom: 1em;
    overflow: hidden;
}

.drop-active {
    border-color: #666;
}

.apple-tag {
    background: url('GameParts/TAG_Apple.png')
}
.apple-tag-highlight {
    background: url('GameParts/TAG_Apple_Highlight.png')
}
.bird-tag {
    background: url('GameParts/TAG_Bird.png')
}
.bird-tag-highlight {
     background: url('GameParts/TAG_Bird_Highlight.png')
 }
.car-tag {
    background: url('GameParts/TAG_Car.png')
}
.car-tag-highlight {
    background: url('GameParts/TAG_Car_Highlight.png')
}
.cat-tag {
    background: url('GameParts/TAG_Cat.png')
}
.cat-tag-highlight {
    background: url('GameParts/TAG_Cat_Highlight.png')
}
.person-tag {
    background: url('GameParts/TAG_Person.png')
}
.person-tag-highlight {
    background: url('GameParts/TAG_Person_Highlight.png')
}
.sun-tag {
    background: url('GameParts/TAG_Sun.png')
}
.sun-tag-highlight {
    background: url('GameParts/TAG_Sun_Highlight.png')
}

.mirrors {
    background-image:url(WikimediaPics/01mirrors.png);
}

.airplane {
    background-image:url(WikimediaPics/02airplane.png);
}

.people {
    background-image:url(WikimediaPics/03people.png);
}

.minicooper {
    background-image:url(WikimediaPics/04minicooper.png);
}

.cat {
    background-image:url(WikimediaPics/05cat.png);
}

.graffiti {
    background-image:url(WikimediaPics/06graffiti.png);
}

.christmas {
    background-image:url(WikimediaPics/07christmas.png);
}

.cactus {
    background-image:url(WikimediaPics/08cactus.png);
}

.bird {
    background-image:url(WikimediaPics/09bird.png);
}

.apple {
    background-image:url(WikimediaPics/10apple.png);
}

.sugarfactory {
    background-image:url(WikimediaPics/11sugarfactory.png);
}

.sun {
    background-image:url(WikimediaPics/12sun.png);
}

.lightning {
    background-image:url(WikimediaPics/13lightning.png);
}

.northsea {
    background-image:url(WikimediaPics/14northsea.png);
}

.oceanpark {
    background-image:url(WikimediaPics/15oceanpark.png);
}

.penguins {
    background-image:url(WikimediaPics/16penguins.png);
}

.racecar {
    background-image:url(WikimediaPics/17racecar.png);
}

.beach {
    background-image:url(WikimediaPics/18beach.png);
}

.ceiling {
    background-image:url(WikimediaPics/19ceiling.png);
}

.farm {
    background-image:url(WikimediaPics/20farm.png);
}

.pic {
    width:100%;
    height:100%;
    position:relative;
    background-size:cover;
    background-position:50%;
}

.drag-drop {
    background-repeat: no-repeat;
    background-size: 80px Auto;
    min-width: 70px;
    display: inline-block;
    padding: 27px 13px;
    /*-webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);*/

    transition: background-color 0.3s;
}

.tag-drop-one {
    position: absolute;
    left: 15px;
    top: 15px;
}
.tag-drop-two {
    position: absolute;
    right: 15px;
    top: 15px;
}
.tag-drop-three {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.tag-drop-four {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
body {
    margin: 0;
    padding: 0;
    background: #EEE;
    font: 10px/13px 'Lucida Sans',sans-serif;
}
.wrap {
    overflow: hidden;
}
.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 1%;
}
.boxInner {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    overflow: hidden;
}
.boxInner img {
    width: 100%;
}

.dropzone.drop-target .pic:before{
    content:'';
    position: absolute;
    left: 2%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: 1px solid white;
}


.drop-target {
    box-shadow: 0 0 0 15px #4ba5ff inset;
}

.boxInner .titleBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
    /* Smartphone view: 2 tile */
    .box {
        width: 50%;
        padding-bottom: 47%;
    }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 48%;
    }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 33.3%;
        padding-bottom: 31.3%;
    }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .box {
        width: 25%;
        padding-bottom: 23%;
    }
}

body {
    position:absolute;
}

html, body {
    top:0; left:0; right:0;
    min-height:100%;
    margin:0;
    padding:0;
    width:100%;
}

#header_container {
    position:fixed;
    top:0; left:0; right:0;
    text-align:center;
    margin:0;
    height:3em;
    z-index:3;
}

#header {
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    height:44px;
    background: url('GameParts/MENU.png') no-repeat;
    z-index:3;
    margin:0;
    padding:0.2em;
    font-size: 12px;
}

h1 {
    margin-top: 16px;
    color: white;
    font-style: bold;
}

#content {
    margin:0;
    padding-top:4em;
    padding-bottom:3em;
    z-index:2;
}

#footer_container {
    position:fixed;
    bottom:0; left:0; right:0;
    text-align:center;
    margin:0;
    height:12em;
    z-index:3;
}

#footer {
    position:absolute;
    background: url('GameParts/MENU.png') no-repeat;
    top:0; left:0; right:0; bottom:0;
    z-index:3;
}